.black-store{
  width: 100%;
}
.login{
  position: relative;
  bottom: 200px;
  margin-left: 43%;
  height: 50px;
  width: 150px;
  font-size: 1.3rem;
  border-radius: 50px;
  background-color: black;
  color: white;
  outline-color: gray;
}